[Desktop Entry]
Version=1.0
Name=Microsoft Edge
GenericName=Web Browser
Comment=Access the Internet
StartupWMClass=msedge
Exec=vlarch-edge %U
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
Icon=microsoft-edge
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=vlarch-edge

[Desktop Action new-private-window]
Name=New InPrivate Window
Exec=vlarch-edge --inprivate
